.mode{
    width: 16rem;
    padding: 1rem;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all 300ms ease-in;
}
.buttoncontact{
    display: block;
    width: 100%;
}
.mode>:nth-child(1){
    width: 100%;
    gap: 1.6rem;

}
.mode .detail .primaryText{
    font-size: 1.1rem;
    font-weight: 600;
}
.mode:hover{
    scale: 1.1;
    box-shadow: var(--shadow);
    cursor: pointer;
}